footer {
    position: relative;
    bottom: 150px;
    height: auto;

    p{
        margin: 5vw;
        text-align: center;
    }

    .social_media {
        margin: 5vw;
        text-align: center;
    }
    i {
        margin: 2vw;
        font-size: 1em;
    }
}